<div class="container py-4">
  <h1 class="display-1 fw-bold mb-3"><%= link_to "Geonde", root_path, class:"text-primary" %></h1>

  <h3><%= title "Electricity Emissions" %></h3>

  <table class="table table-striped font-monospace">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country</th>
        <th scope="col" class="text-end">Time</th>
        <th scope="col" class="text-end">Carbon Intensity</th>
      </tr>
    </thead>
    <tbody>
      <% @countries.each_with_index do |country, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= country.name %></td>
          <td class="text-end"><%= time_ago(country.data.time) %> ago</td>
          <td class="text-end"><%= country.carbon_intensity %> gCO2eq/kWh</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    Sources:
    <%= link_to_source "elexon" %>,
    <%= link_to_source "entsoe" %>,
    <%= link_to_source "nrel" %>,
    <%= link_to_source "rte" %>
  </p>
</div>
