<div class="container container-narrow py-4">
  <h1 class="display-1 fw-bold mb-3 position-relative">
    <%= link_to "Geonde", api_path, class: "text-primary-gradient" %>
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger fs-5">alpha</span>
  </h1>

  <h3><%= title "Electricity emissions in #{@country.name}" %></h3>

  <p>Carbon Intensity: <%= number_to_human(@country.carbon_intensity(@factors)) %> tCO2eq/MWh</p>
  <p>Time: <%= time_ago(@country.data.time) %> ago</p>
  <p>
    Sources:
    <%= link_to_source @country.source %>,
    <%= link_to_source "nrel" %>
  </p>
</div>
