<% title "Electricity generation" %>
<div class="container container-narrow py-4">
  <h1 class="display-1 fw-bold mb-3 position-relative">
    <%= link_to "Geonde", api_path, class: "text-primary-gradient" %>
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger fs-5">alpha</span>
  </h1>

  <% if params["countries"] %>
    <h3>
      <%= link_to "Electricity generation", api_electricity_generation_path, class: "text-reset" %>
      in
      <%= pluralize(@countries.count, "country") %>
    </h3>

    <table class="table table-striped font-monospace">
      <thead>
        <tr>
          <th scope="col">Countries</th>
          <% @fuels.each do |fuel| %>
            <th scope="col" class="text-end"><%= fuel.to_s.capitalize %></th>
          <% end %>
          <th scope="col" class="text-end">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @countries.each do |country| %>
          <tr>
            <th scope="row"><%= country.name %></th>
            <% @fuels.each do |fuel| %>
              <td class="text-end"><%= country.fuels[fuel] || 0 %></td>
            <% end %>
            <td class="text-end"><strong><%= country.fuels.values.sum %></strong></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
      <%= "Source".pluralize(@sources.count) %>:
      <% @sources.each_with_index do |source, index| %>
        <%= link_to_source source %><%= index < @sources.length - 1 ? "," : "" %>
      <% end %>
    </p>
  <% else %>
    <h3>Electricity generation</h3>
    <ul class="columns">
      <% @countries.each do |country| %>
        <li><%= link_to country.name, "/api/electricity/generation/#{country.code}" %></li>
      <% end %>
    </ul>
    <p class="text-secondary">Data available for <%= pluralize(@total, "country") %></p>
  <% end %>
</div>
