<% title ["Geocode Search", @query] %>

<div class="container py-4">
  <h1 class="display-1 fw-bold mb-3"><%= link_to "Geonde", root_path, class:"text-primary" %></h1>

  <h3>Geocode Search</h3>

  <%= render "form", query: @query %>

  <h5><%= pluralize(@results.size, "Result") %></h5>

  <table class="table table-striped font-monospace">
    <thead>
      <tr>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col" class="text-end">Latitude</th>
        <th scope="col" class="text-end">Longitude</th>
        <th scope="col" class="text-end">Population</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |res| %>
        <tr>
          <td><%= res.name %></td>
          <td><%= res.country %></td>
          <td class="text-end"><%= number_to_human(res.latitude, precision: 4, significant: false, strip_insignificant_zeros: false) %></td>
          <td class="text-end"><%= number_to_human(res.longitude, precision: 4, significant: false, strip_insignificant_zeros: false) %></td>
          <td class="text-end"><%= res.population %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    Source:
    <%= link_to_source "geonames" %>
  </p>
</div>
