<div class="container py-4">
  <h1 class="display-1 fw-bold mb-3"><%= link_to "Vinua API", root_path, class:"text-primary" %></h1>

  <h3>Geocode Search</h3>

  <form action="/geocode/search" method="get" class="mt-3 mb-3">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" id="city" name="q" placeholder="City" value="<%= @query %>">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>

  <h5><%= pluralize(@results.size, "Result") %></h5>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col" class="text-end">Population</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |res| %>
        <tr>
          <td><%= res.name %></td>
          <td><%= res.country %></td>
          <td><%= res.latitude %></td>
          <td><%= res.longitude %></td>
          <td class="text-end"><%= res.population %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    Source:
    <%= link_to_source "geonames" %>
  </p>
</div>
